.camera-capture-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  text-align: center;
  border-radius: 8px;
  padding: 20px;
  border: none;
  background-color: #f0f8ff;
  margin-top: 40px;
  align-items: center; /* Centrer verticalement tous les éléments dans le conteneur */
  justify-content: space-between;
}

.camera-icon {
  position: absolute;
  font-size: 80px;
  color: #46ab57;
  top: 58%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.camera-capture-text {
  position: absolute;
  bottom: 20px;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #46ab57;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #46ab57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: green;
}

.image-preview img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  .camera-capture-container {
    height: auto;
    padding: 15px;
  }

  .camera-icon {
    font-size: 60px;
  }

  button {
    width: 100%; /* Étendre les boutons à la largeur du parent */
  }
}
