.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 10px;
  margin-bottom: 40px;
  position: relative;
  top: -20px;
}

.searchbar-form {
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background-color: transparent;
  max-width: 1200px;
}

.searchbar-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.searchbar-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.searchbar-button:hover {
  background-color: #45a049;
}

/* Media Query pour les petits écrans */
@media (max-width: 768px) {
  .searchbar-container {
    flex-direction: column;
  }

  .searchbar-form {
    width: 100%;
  }

  .searchbar-input {
    padding: 15px;
    font-size: 18px;
  }
  
  .searchbar-button {
    width: 100%;
    padding: 15px;
  }
}
